.banner {
  background-image: url('../../images/banner.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
}

.container {
  padding: 200px 150px;
}

.banner p {
  margin-top: 0;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);;
}

.btn-white {
  border-radius: 25px;
  background-color: white;
  color: #666B5B;
  box-shadow: 3px 3px 3px #C2C2C2;
  padding: 15px 25px;
  font-weight: 600;
  width: 100px;
}

.btn-white:hover {
  color: black;
}

.banner p {
  margin-bottom: 20px;
}