.footer {
  background-color: lightgray;
  height: 200px;
}

.footer-container {
  width: 300px;
  margin: 0px auto;
  padding-top: 20px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
  font-size: 30px;
  letter-spacing: 10px;
}